<!DOCTYPE html>
<html>
<head>
{% include "_common/meta.html" %}
{% include "_common/style.html" %}
{% include "_common/script.html" %}
<title>アップロードTOP</title>
</head>
<body>
    <h1>upload</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <p>
        ファイルをアップロードします。<br/>
        .txtファイルを指定してください。その他のファイルはエラーになります。
    </p>
    <form action="/upload/submit" method="post" enctype="multipart/form-data">
        <input type="file" name="the_file" />
        <input type="submit" />
    </form>
    <hr/>
    <p><a href="/" class="debugTop">デバッグTOPへ</a></p>
</body>
</html>